<div class="app-container">
  <mat-toolbar class="sticky-toolbar">
    <div class="menu">

      <div class="logo">matrimony.com</div>

      <div class="menu-list">
        <span routerLink="/profile-suggestions" routerLinkActive="active" style="cursor: pointer;">
          Recommendations
        </span>
        <span routerLink="/my-matches" routerLinkActive="active" [ngClass]="isMatchesRoute ? 'active':''"
          style="cursor: pointer;">
          Matches
        </span>
      </div>
    </div>
  </mat-toolbar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>